version: "3"

services:
  nginx:
    image: nginx:latest
    container_name: cooperativa_nginx
    ports:
      - 80:80
    volumes:
      - .:/usr/share/nginx/html:rw
      - ./.docker/nginx/conf.d:/etc/nginx/conf.d

  php-fpm:
    build: .docker/php-fpm
    container_name: cooperativa_php
    volumes:
      - .:/usr/share/nginx/html:rw

  postgres:
    image: postgres:12.0-alpine
    container_name: cooperativa_postgres
    ports:
      - 5432:5432
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
